<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="WebService_MES_PLM.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="ConnectionSQL" value="66C898F9F4C8BB68BCD2763774C0E4F7959F524C2E68C8A9A0FA77BBC1FE1A7CFACE56F9081E6B84E428E7F7DB4154E07921BD5BE42BEA9B8AE401C1BE9C0CE5"/>
    <add key="ConnectionallSQL" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\CRJD.mdb"/>
    <add key="ConnectionODBC" value="C8FA4AA979A580EA918F290556A4BBED608444A88897AEB03D0D60251077DC61C4E17C661EE2B9D477619B8443ED3FE18A89B2F78B35F0D34542F39B2D8ECE750AEB0FAF20AF88C40B0FE888B5EBB8242CDD4901634E4B0CF7A2441A67E6141FB4D84B0DB6F60B054016461F565E21DC26AB9E09AFAB02DEE9047A8B0FABCBA31F4B06D3A36DC679B2BA725EC4BD7FA9"/>
    <add key="ConnectionOLE" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=CRJD.mdb"/>
    <add key="ConStringEncrypt" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UserName" value=""/>
  </appSettings>
</configuration>
<!--ProjectGuid: 5081835F-EF9D-47D7-B9C8-1C0852526A7C-->