<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ConnectionSQL" value="66C898F9F4C8BB68BCD2763774C0E4F7C9B6DF1088B4001319E4FA289DD55201D4431AB79EE758298E7AB103A607F4F8682B1A359E6D643F19B88A1EF690DD79"/>
    <add key="ComConfig" value="1,1,COM3,19200,4,6,COM1,9600"/>
    <add key="ConnectionallSQL" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\CRJD.mdb"/>
    <add key="ConnectionODBC" value="C8FA4AA979A580EA918F290556A4BBED608444A88897AEB03D0D60251077DC61C4E17C661EE2B9D477619B8443ED3FE18A89B2F78B35F0D34542F39B2D8ECE750AEB0FAF20AF88C40B0FE888B5EBB8242CDD4901634E4B0CF7A2441A67E6141FB4D84B0DB6F60B054016461F565E21DC26AB9E09AFAB02DEE9047A8B0FABCBA31F4B06D3A36DC679B2BA725EC4BD7FA9"/>
    <add key="ConnectionOLE" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=CRJD.mdb"/>
    <add key="PdConfig" value="2018-05-10"/>
    <add key="ConStringEncrypt" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>